#Object files and debugging jumbo
ArcadeInterface/Release/
ArcadeInterface/Debug/

#Don't feel like version controlling the debug build at this point.
Debug/

#It's a waste of space and bandwidth to just git the other various 
#VS files now as well. You get the source and an executable.
ArcadeInterface.sdf
ArcadeInterface.opensdf
ArcadeInterface.sln
ArcadeInterface.v11.suo
*.user
*.filters
*.vcxprojgit